<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeForum</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Include stylesheet for Quill and highlight.js-->
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/monokai-sublime.min.css"
      rel="stylesheet"
    />

    <!-- Inlcude Scripts for Quill and highlight.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script
      src="https://kit.fontawesome.com/6e18d74916.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="loader hidden">
      <img src="/Rolling.gif" style="height: 50px; width: 50px" />
    </div>
    <nav>
      <h3>
        <ul>
          <li>
            <a href="/questions/<%= user %>/smoothies" class="btn"> Home </a>
          </li>
        </ul>
      </h3>
      <ul>
        <% if (user) { %>
        <li>
          <a
            href="/profile/<%= user %>"
            style="background-color: rgb(212, 211, 211); border-radius: 15px"
          >
            <b><i class="fas fa-user-circle"></i>Profile</b>
          </a>
        </li>
        <li>
          <a class="btn" onclick="signOut('<%= user %>');">
            LogOut
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>

    <form class="AnwerForm">
      <label for="topic"><b>Title</b></label>
      <input
        type="text"
        name="title"
        required
        placeholder="Create Title of Your Answer"
      />
      <div id="editor-container" name="content"></div>
      <button class="btn-success-third">
        <div class="textC">Submit</div>
      </button>
    </form>
    <script>
      // console.log(question._id);
      var quill = new Quill("#editor-container", {
        modules: {
          syntax: true,
          toolbar: [
            [{ header: "1" }, { header: "2" }, { font: [] }],
            [{ size: [] }],
            ["bold", "italic", "underline", "strike", "blockquote"],
            [
              { list: "ordered" },
              { list: "bullet" },
              { indent: "-1" },
              { indent: "+1" },
            ],
            ["link", "code-block"],
          ],
          clipboard: {
            matchVisual: false,
          },
        },
        placeholder: "Add Your Code Here...",
        theme: "snow",
      });
      var justTextContent = document.getElementById("justText");
    </script>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        //spinner activated
        const loader = document.querySelector(".loader");
        loader.className = "loader"; // class "loader hidden"

        //get values of title and content of answer.
        const title = form.title.value;
        // const content = form.content.value;
        const content = quill.getText();

        //for post request to server
        var xhr = new XMLHttpRequest();
        xhr.open(
          "POST",
          "http://localhost:3000/questions/<%= user %>/<%= question._id %>/answer/new"
        );
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
          const data = JSON.parse(xhr.responseText);
          if (data.answerID) {
            location.assign(
              `/questions/<%= user %>/<%= question._id %>/answer/show/${data.answerID}`
            );
          }
        };
        xhr.send(JSON.stringify({ title, content }));
      });
    </script>
    <script>
      function signOut(userId) {
        console.log("Inside the function: " + userId);

        //for post request to server to signOut the current User.
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:3000/logout");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
          //console.log(JSON.parse(xhr.responseText));
          location.assign("/");
        };
        xhr.send(JSON.stringify({ userId }));
      }
    </script>
  </body>
</html>
